<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GB_NewCadPlus_III.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <GB_NewCadPlus_III.Properties.Settings>
            <setting name="MySqlServer" serializeAs="String">
                <value>	localhost</value>
            </setting>
            <setting name="MySqlDatabase" serializeAs="String">
                <value>GB_CadTools</value>
            </setting>
            <setting name="MySqlUserId" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="MySqlPassword" serializeAs="String">
                <value>123456</value>
            </setting>
            <setting name="MySqlPort" serializeAs="String">
                <value>3306</value>
            </setting>
        </GB_NewCadPlus_III.Properties.Settings>
    </applicationSettings>
</configuration>